{% extends 'homepage.html' %}
{% load static %}
{% block content%}
{% include 'include/header.html' %}

<br>
<div>
    <input type="name" name="name" placeholder="Введите имя">
    <label for="">Имя</label>
</div>

<div>
    <input type="surname" name="surname" placeholder="Введите фамилию">
    <label for="">Фамилия</label>
</div>

<div>
    <input type="phone" name="phone" placeholder="Введите номер">
    <label for="">Hомер</label>
</div>

<div>
    <input type="password" name="password1" placeholder="Введите пароль">
    <label for="">Пароль</label>
</div>

<div>
    <input type="password" name="password2" placeholder="Подвердите пароль">
    <label for="">Пароль</label>
</div>

{% include 'include/footer.html' %}
{% endblock %}